/** Comments **/
.comment-respond h3 {
    font-weight: 700;
    text-align: center;
}

.comment-respond form label {
    display: inline-block;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    width: 200px;
}

.comment-respond form input,
.comment-respond form textarea {
    padding: 10px;
    width: calc(100% - 220px );
}


.comment-respond form input[type="submit"] {
    background-color: var(--primary);
    display: inline-block;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 auto;
    width: auto;
}

p.form-submit {
    text-align: center;
}

p.logged-in-as a {
    display: block;
    color: var(--primary);
    text-align: center;
}

.comment-notes {
    text-align: center;
}


@media(min-width: 768px) {
    .comments {
        width: 80%;
    }
}
@media(min-width: 992px) {
    .comments {
        width: 60%;
    }
}
